<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- forgotpassword.html
     Taylor Farmer -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="keyword" content="#"/>
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title> Forgot Password </title>

    <style type="text/css">
            .jumbotron{
                margin-top: 10px;
            }
            body {
                background-color:#1E86C8;
            }
            .content{
                text-align: center;
            }
            .input-group{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #hs_alert{
                margin-top: 10px;
            }
            #hs_alert p {
                text-align: center;
            }
        </style>

</head>
<body>
<!--  Container -->
<div class="container">
    <div class="wrapper" id="login">
        <div class="content">
            <!-- Jumbotron -->
            <div class="jumbotron">
                <div class="content">
                    <p class="fill text-center"></p>
                    <p class="text-center" style="font-weight:bold">Password Recovery</p>
                    <p class="text-center">Please enter your username and email below.</p>
                </div>
            </div>
            <!-- Form -->
            <form th:action="@{/forgotPassword}" th:object="${userPassword}" method="post">
                <!-- Username -->
                <div class="input-group input-group-lg pad">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input th:field="*{userName}" type="text" class="form-control" id="usr" placeholder="Username" aria-describedby="sizing-addon1"/>
                </div>
                <!-- Email -->
                <div class="input-group input-group-lg pad">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input th:field="*{email}" type="text" class="form-control" id="eml" placeholder="Email" aria-describedby="sizing-addon1"/>
                </div>
                <!-- button group -->
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="forgotpswd" type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>